<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" href="<%=PUBLIC_URL%>logo192.png" />
  <link rel="icon" href="<%=PUBLIC_URL%>favicon.ico" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" />
  <title>Musings and Code - An Integrated Web Systems blog</title>
</head>

<body>
  <noscript>This website requires javascript to be enabled.</noscript>
  <div id="root">Initializing... 🚀</div>
  <span style="display: none;">
    <%= VERSION %>
  </span>
  <span style="display: none;">
    <%= VERSION_HASH %>
  </span>
</body>

</html>